 <%- include('./header'); %>

<div class="con-form">
    <h3> Edit your connection: </h3>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Connection name</span>
        <input type="text" class="form-control" placeholder="my-connection" aria-describedby="basic-addon1" id="con-name-input">
    </div>
    
    <br />
    <div class="input-group">
        <label class="radio-inline"><input type="radio" name="choose-con-type" checked="">Local directory</label>
        <label class="radio-inline"><input type="radio" name="choose-con-type" disabled="disabled">HTTP connection</label>
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Directory path</span>
        <input type="text" class="form-control" placeholder="/data/mydb/" aria-describedby="basic-addon1" id="con-local-dir-input">
        <div class="input-group-btn"> 
            <button type="button" class="btn btn-default" aria-label="folder" id="open-folder-btn">
            <span class="glyphicon glyphicon-folder-open"></span>
            </button> 
        </div>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom con-foot-bar" role="navigation">
    <ul class="nav navbar-nav">
        <button class="btn btn-success navbar-btn" id="test-con-btn">Test connection</button>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <button type="button" class="btn btn-primary navbar-btn" id="save-con-btn">Save</button>
        <button type="button" class="btn btn-default navbar-btn" id="close-conwin-btn">Cancle</button>
    </ul>
<nav>

<script>
    require('./events/renderer/connection.js')
</script>

 <%- include('./footer'); %>