

    <% connections.forEach(function(con){ %>
        <li class="con-li" con-id="<%= con._id %>"><a href="#" con-id="<%= con._id %>"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp;<%= con.name %></a></li>
    <% }); %>
