<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>LevelDB GUI</title>
        <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../node_modules/jquery-bootstrap-scrolling-tabs/dist/jquery.scrolling-tabs.min.css" rel="stylesheet">
        <link href="../node_modules/jsoneditor/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/style.css" rel="stylesheet">
    </head>
    <body>